<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.songly">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_hymn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_hymn_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SongLY">
        <activity
            android:name=".KarososaViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar" />
        <activity
            android:name=".PrayerWithTab"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar" />

        <activity
            android:name=".ViewIndividualList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar" />
        <!--
 Home activity has launchMode=singleTask.
         this is to make the activity appear only once in activity stack
        -->
        <activity
            android:name=".HomePage"
            android:label="Category"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar" />
        <activity
            android:name=".TabbedLyricsView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar" />
        <activity
            android:name=".FullSearch"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar" />
        <activity
            android:name=".ListOfSongs"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SongLY.NoActionBarSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>